<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de nuestros productos</title>
</head>

<body>
    <h1>Lista de productos</h1>
    
    <ul>
    {{#each products}}
    <li>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>Stock: {{stock}}</p>
      <img src="{{thumbnail}}" alt="{{title}}">
    </li>
    {{/each}}
  </ul>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/clase10/src/public/js/home.js"></script>

</html>