<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muestra de lista de productos en tiempo real</title>
</head>

<body>
  <h1>Lista de Productos en Tiempo Real</h1>
  <p>Mercadería moderna del 2023</p>

  <!-- mostrar los productos en tiempo real -->
  <ul id="productList">
    {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - Precio: {{this.price}} - Stock: {{this.stock}} -Id: {{this.id}}
    </li>
    {{/each}}
  </ul>

  <!--formulario para agregar nuevos productos en tiempo real -->
  <form id="addProductForm">
  <label for="title">Título:</label>
  <input type="text" id="title" name="title">
  <label for="price">Precio:</label>
  <input type="number" id="price" name="price">
  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock">
  <button type="submit">Enviar</button>
    <button onclick="eliminarProducto('{{this.id}}')">Eliminar</button>
</form>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const socket = io();

    // Escucha eventos del servidor para actualizar la lista de productos en tiempo real
    socket.on('updateProducts', (updatedProducts) => {
      // Actualiza la lista de productos en la vista
      const productList = document.getElementById('productList');
      productList.innerHTML = '';
      updatedProducts.forEach((product) => {
        const li = document.createElement('li');
        li.innerHTML = `<strong>${product.title}</strong> - Precio: ${product.price} - Stock: ${product.stock}`;
        const deleteButton = document.createElement('button');
        deleteButton.textContent = 'Eliminar';
        deleteButton.onclick = () => eliminarProducto(product.id); // Llama a la función eliminarProducto con el ID
        li.appendChild(deleteButton);
        productList.appendChild(li);
      });
    });

    // Maneja el formulario de agregar productos
    const addProductForm = document.getElementById('addProductForm');
    addProductForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const title = document.getElementById('title').value;
      const price = parseFloat(document.getElementById('price').value);
      const stock = parseInt(document.getElementById('stock').value);

      // Envía los datos del nuevo producto al servidor
      socket.emit('addProduct', { title, price, stock });
    });

    // Definir la función eliminarProducto en el ámbito global
    function eliminarProducto(productId) {
      // Envía el ID del producto al servidor para eliminarlo
      socket.emit('eliminarProducto', productId);
    }
  });
</script>


</html>